<style>
    .tabs {
        display: flex;
        margin-bottom: 20px;
        border-radius: 10px;
    }

    .tab-btn {
        padding: 10px 20px;
        border: none;
        background: #f5f5f5;
        cursor: pointer;
        font-weight: bold;
        transition: 0.2s;
    }

    .tab-btn:hover {
        background: #627fce;
    }

    .tab-btn.active {
        background: #1e3a8a;
        color: white;
    }

    .tab-content {
        display: none;
        padding: 20px 0;
    }

    .tab-content.active {
        display: block;
    }
</style>
<div class="tabs">
  <button id="0" class="tab-btn active" onclick="location.href='/seasons/<%= seasonid %>?season=<%= season %>'">
    Group Stage
  </button>
  <button id="1" class="tab-btn" onclick="location.href='/seasons/<%= seasonid %>?season=<%= season %>&phase=1'">
    round of 16
  </button>
  <button id="2" class="tab-btn" onclick="location.href='/seasons/<%= seasonid %>?season=<%= season %>&phase=2'">
    quarter-finals
  </button>
  <button id="3" class="tab-btn" onclick="location.href='/seasons/<%= seasonid %>?season=<%= season %>&phase=3'">
    semi-finals
  </button>
  <button id="4" class="tab-btn" onclick="location.href='/seasons/<%= seasonid %>?season=<%= season %>&phase=4'">
    final
  </button>
</div>
<script>
  const id = '<%- phase %>'
  document.querySelectorAll(".tab-content").forEach(tab => {
      tab.classList.remove("active");
    });
  document.querySelectorAll(".tab-btn").forEach(btn => {
      btn.classList.remove("active");
  });
  document.getElementById(id).classList.add("active");
</script>